################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BET.TestSolution/BET.Infrastructure/obj/Debug
/BET.TestSolution/BET.Repositories/obj/Debug
/BET.TestSolution/BET.Repositories.Tests/obj/Debug
/BET.TestSolution/BET.Services/obj/Debug
/BET.TestSolution/BET.Web.Api/obj/Debug/netcoreapp3.1
/BET.TestSolution/BET.Web.Api/obj
/BET.TestSolution/packages
/BET.TestSolution/.vs/BET.TestSolution/DesignTimeBuild
/BET.TestSolution/.vs/BET.TestSolution/config/applicationhost.config
/BET.TestSolution/BET.Infrastructure/bin/Debug
/BET.TestSolution/BET.Repositories/bin/Debug
/BET.TestSolution/BET.Services/bin/Debug
/BET.TestSolution/BET.Web.Api/bin/Debug/netcoreapp3.1/runtimes
/BET.TestSolution/BET.Web.Api/bin/Debug/netcoreapp3.1
