<h1 id="tableLabel">Cart</h1>
<div>
  <table mat-table [dataSource]="items"
       matSort
       class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by image">
      Image
    </th>
    <td mat-cell *matCellDef="let element"> {{element.image}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
      Price
    </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      Edit
    </th>
    <td mat-cell *matCellDef="let element">
      <button
        class="icon-button__icon_success icon-button__icon_btn-link icon-button__icon_no-padding"
        (click)="onDeleteClick(element)"
        title="Delete product"
      >
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </ng-container>
</table>
</div>
