@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr.css';


body {
  font-size: initial!important;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  font-size: initial!important;
  border-color: #1861ac;
}

.md-overlay-container {
  position: fixed;
  z-index: 1000;
}

.md-overlay-container, .md-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.md-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

ngb-rating {
  font-size: 20px;
  color:gold;
  background: white;
}

.input-s-container{

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-form-field .mat-input-element {
  color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-label {
  color: slategray!important;
}
::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
  color: slategray;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff884d!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: #ff884d;
}



::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
  color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #ff33cc!important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #ff33cc;
}
