<div class="modal-wrapper">
  <div mat-dialog-title>
    Add to Cart
    <button class="btn btn-nocolor button-close" mat-dialog-close>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>

  <div mat-dialog-content>
    <p></p>
    <form class="example-form">
    <div class="row">
      <div class="col-md-4">
        <label>Name</label>
      </div>
      <div class="col-md-8">
          <label>{{dialogData.product.name}}</label>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
          <label>Image Url</label>
        </div>
        <div class="col-md-8">
            <label>{{dialogData.product.image}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Price</label>
        </div>
        <div class="col-md-8">
            <label>{{dialogData.product.price | currency}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Quantity</label>
        </div>
        <div class="col-md-8">
           <label>{{dialogData.product.quantity}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Amount</label>
        </div>
        <div class="col-md-8">
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput ngModel type="number" min="1" [max]="dialogData.product.quantity" placeholder="Set Amount" [formControl]="field.quantity">
          </mat-form-field>
        </div>
      </div>
    </form>
    <p></p>
  </div>

  <div class="spacer"></div>

  <mat-dialog-actions class="confirmation_dialog_footer">
    <button
      [disabled]="!(form.controls['quantity'].value>=1 && form.controls['quantity'].value<=dialogData.product.quantity)"
      type="submit"
      class="btn btn-primary dlg-button"
      (click)="confirm()"    >
      Ok
    </button>
    <button class="btn btn-primary ml-2" mat-dialog-close>
      CANCEL
    </button>
  </mat-dialog-actions>
</div>
